.NavigationWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: #222;
}

.Navigation--desktop {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: auto;
}

.NavigationLink {
  background: #222;
  border: 0px;
  height: 4rem;
  font-size: 1rem;
  cursor: pointer;
}

.NavigationLink a {
  color: white;
  text-decoration: none;
  padding-bottom: 1.2rem;
}

.NavigationLink a:hover {
  color: #fd7700;
}

.active,
.active:hover,
.active:active,
.active:focus {
  border-bottom: 0.25rem solid #fd7700;
}

@media screen and (max-width: 599px) {
  .Navigation--desktop {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  .Navigation--desktop {
    max-width: 30rem;
  }

  .Navigation--small {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .Navigation--desktop {
    max-width: 37.5rem;
  }

  .Navigation--small {
    display: none;
  }
}
